.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: transparent;
    backdrop-filter: blur(0px); 
    transition: backdrop-filter 0.3s, background-color 0.3s;
    z-index: 1000;
  }
  
  .header.scrolled {
    backdrop-filter: blur(10px); 
    background: transparent;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .navLink {
    margin-left: 24px;
    text-decoration: none;
    color: var(--cream);
    font-size: 18px;
    font-family: Schibsted Grotesk;
    font-weight: 200;
    position: relative; 
  }
  
  .navLink:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%); 
    width: 5px; 
    height: 5px; 
    background-color: var(--cream);
    border-radius: 50%;
  }

  .navMobile {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  @media (min-width: 667px) and (max-width: 1024px)  {
    .contactButton {
      font-size: 16px;
      margin-left: 20px;
      padding: 0.5rem 1.16rem;
    }
    .navLink {
      font-size: 16px;
      margin-left: 20px;
    }
    .navMobile {
      display: none;
    }
  }

  @media (max-width: 667px) {
    .nav {
      display: none;
      width: 100vw;
    }
    .menuButton {
      background: none;
      border: none;
      color: var(--cream);
      cursor: pointer;
    }
    .mobileMenu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: var(--black-variant);
      padding: 3rem;
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius: 0 0 0 5rem;
      margin-left: 1rem;
    }
    
    .mobileNavLink {
      color: var(--red);
      text-decoration: none;
    }
  
    .mobileNavLink h2 {
      color: var(--red);
      text-align: left;
    }
    
    .closeButton {
      color: var(--cream);
      display: flex;
      background: none;
      border: none;
    }
  
    .menuButton {
      font-size: 2rem;
      display: block;
    }
    .navMobile {
      display: block;
    }
    .mobileMenu.show {
      display: flex;
    }
  }