.container h6 {
    margin-top: 5rem;
}

.container > img {
    transition: transform 0.5s ease-in-out; 
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .container > img:hover {
    transform: translateY(-3px) scale(1.05);
  }