.content > img {
    transition: transform 0.7s ease-out; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content > img:hover {
    transform: translateY(-3px) scale(1.03);
  }

.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container h6 {
  color: var(--cream-variant);
  margin-top: 4rem;
  text-align: left;
}

.content {
  margin: 0rem 8rem;
}

@media (min-width: 667px) and (max-width: 1024px)  {
  .content {
      margin: 1rem 4rem;
  }
}