.content > img {
    transition: transform 0.7s ease-out; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content > img:hover {
    transform: translateY(-3px) scale(1.03);
  }

.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
}

.content {
  margin: 0rem 10rem;
}

@media (min-width: 667px) and (max-width: 1024px)  {
  .content {
      margin: 1rem 6rem;
  }
  .container {
    margin-bottom: 2rem;
  }
}

@media (max-width: 667px) {
  .content {
    margin: 1rem 3rem;
}
.container {
  margin-bottom: 1rem;
}
}
