.container {
    margin: var(--margin-large);
    padding-top: 3rem;
    margin-bottom: 0rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: -100;
}

.backLink {
    text-decoration: none;
    color: var(--cream);
    font-size: 2rem;
}

.content h1 {
    width: 50%;
    margin-top: 4rem;
    font-weight: 500;
}

.details {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5rem;
    margin-top: 1rem;
    margin-bottom: 7rem;
}

.details p {
    margin-bottom: 2rem;
}

.details h6 {
    color: var(--cream-variant);
}



@media (min-width: 667px) and (max-width: 1024px) {

}

@media (max-width: 667px) {

}