.container {
    margin: 4rem 10rem;
}

.container iframe {
    width: 100%;
}

@media (min-width: 667px) and (max-width: 1024px)  {
    .container {
        margin: 3rem 6rem;
    }
}

@media (max-width: 667px) {
    .container {
        margin: 1rem 3rem;
    }
}