.container {
    margin: var(--margin-small);
}
.redBold {
    color: var(--red);
    font-weight: 600;
}

.introText h3 {
    font-weight: 500;
    margin-bottom: 2rem;
}

.vid {
    width: 90vw;
}

.placeholderDisclaimer {
    background-color: var(--black);
    margin-top: 3rem;
}

.chip {
    background-color: var(--cream-variant);
    padding: 0.5rem 1.3rem;
    font-family: var(--font-schibsted-grotesk);;
}

@media (min-width: 667px) and (max-width: 1024px)  {
    .intro {
        max-width: 100%;
        height: 50vh;
        background-image: url("/images/landing-page/mockups.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container {
        margin: var(--margin-medium);
        margin-bottom: 0;
    }
    .placeholderDisclaimer {
        background-color: var(--black);
        margin: 5rem 0rem;
    }
}

@media (min-width: 1024px) {
    .intro {
        height: 100vh;
        background-image: url("/images/landing-page/mockups.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: sticky;
        top: 0;
        z-index: -1;
    }
    .container {
        margin: var(--margin-large);
        margin-bottom: 0;
        padding-top: 8rem;
    }
    .placeholderDisclaimer {
        background-color: var(--black);
        margin-top: 0;
        margin-bottom: 8rem;
    }
}