.gradientBackground {
    height: 100vh; /* Set height of gradient section */
    background: radial-gradient(
      circle at var(--x, 50%) var(--y, 50%),
      var(--red-variant),
      #ad2e27,
      var(--red)
    );
    display: flex;
    align-items: flex-end;
  }
  
  .container {
    margin: var(--margin-large);
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }

  @media (min-width: 667px) and (max-width: 1024px)  {
    .container {
      margin: var(--margin-medium);
      flex-direction: column;
      align-items: flex-start;
    }
    .container h1 {
      margin-bottom: 1.5rem;
    }
    .section {
      margin-bottom: 5rem;
    }
  }

  @media (max-width: 667px) {
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: var(--margin-small);
      height: 90vh;
    }
    .container h1 {
      margin-bottom: 1rem;
      text-align: center;
    }
    .section {
      margin-bottom: 3rem;
    }
  }