.chip {
    background-color: var(--cream-variant);
    padding: 0.5rem 2rem;
    border-radius: 16px 16px 0px 0px;
    color: var(--cream);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.chip h5:hover {
    color: var(--black);
}

.chip.active {
    background-color: var(--cream); 
}

.chip.active h5 {
    color: var(--black);
}