.imageContainer {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 100vh;
    filter: saturate(1.2);
}

.overviewContainer {
    position: sticky;
    top: 0;
    z-index: 2;
    height: 100vh;
    display: flex;
    background-color: rgba(24, 23, 21, 0.8);
    backdrop-filter: blur(10px); 
}

.overview {
    margin-bottom: 0;
    padding: 5rem 0rem;
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.overview.visible {
    opacity: 1; 
    transform: translateY(0);
}


.overviewText {
    margin: var(--margin-large);
    margin-bottom: 0;
}

.overview h5 {
    margin-bottom: 3rem;
}