.gallery {
    position: relative;
    z-index: 3;
    background-color: var(--black);
    padding: 5rem;
}

.features h2 {
    margin-bottom: 0.72rem;
}

.features > img {
    transition: transform 0.4s ease-in-out; 
  }

.features > img:hover {
  transform: translateY(-3px);
  color: var(--primary);
}

.title hr {
  border: 0; 
  border-top: 0.2px solid var(--cream);
  flex-grow: 1;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userPersonas {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.brandSection {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 0rem 8rem;
}

.designNotes p {
  background-color: #5b4f42;
  padding: 2rem;
  border-radius: 0.5rem;
}

.mockups img{
  width: 300vw;
}
