.imageGallery {
    margin: var(--margin-small);
    margin-top: 2.72rem;
}

.image2 {
    width: 100vw;
}

.gallerySection {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.image3 {
    width: 40vw;
}

.gallerySectionInside {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (min-width: 667px) and (max-width: 1024px) {
    .imageGallery {
        margin: var(--margin-medium);
        margin-top: 4rem;
    }
    .gallerySection {
        gap: 1rem;
        margin-bottom: 5rem;
    }
    .gallerySectionInside {
        gap: 1rem;
    }
}